<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="addingForm">
    <label for="title">שם הסרט:</label>
    <input type="text" id="title" />
    <br>
    <label for="content">הביקורת שלי:</label>
    <textarea id="content"></textarea>
    <br>
    <button onclick="AddReview();">הוספה</button>
</div>
<div id="AllReviews"></div>

<script>
    var AllReviews=[];
    async function getAllReviews(){
        let url = "/Review";
        let response = await fetch(url);
        let data = await response.json();
        AllReviews=data;
        console.log("data was entered");
        ShowReviews();
    }
    function ShowReviews(){
        let s='';
        for(let rr of AllReviews){
            s += `<div>`;
            s += `<b>${rr.title}</b><br>`;
            s += `${rr.content}`;
            s += `</div>`;
        }
        document.getElementById('AllReviews').innerHTML=s;
    }
    async function AddReview(){
        let title   = document.getElementById("title").value;
        let content = document.getElementById("content").value;
        let url = "/Review";
        let response=await fetch(url,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({title:title,content:content})
            }
        );
        let data=await response.json();
        getAllReviews();
    }
    getAllReviews();
</script>
</body>
</html>